@import "bootstrap/scss/bootstrap";

#App {
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
    color: red;
}

/* Home page */
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border:1px red solid;
}

img {
  width:100px;

}
/* Cart page styling */
.user-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-container-text {
    width: 50%;
}

.lottie-container {
    height: 200px;
}

/* Not-found page styling */
.not-found-container {
    height: 400px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
      background-color: lightgreen;
    }
}

@media (min-width: 1024px) {
    body {
      background-color: rgb(229, 161, 218);
    }

    /* Cart page styling */
    .user-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .lottie-container {
       width: 50%;
       height: 400px;
    }
}