@import "bootstrap/scss/bootstrap";

#App {
	min-height: 100vh;
}

h5 {

}

/* Header */
.header {
  background-image: url('../assets/candy.webp');
  background-size: cover;
  background-position: center;
  height: 200px; /* Set a height or adjust as needed */
}
/* Home page */
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.product-list h5 {
  margin-top: 10px;
}
.product-item {
  border:1px rgb(148, 146, 146) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0;
}
img {
  width: 90px;
}

/* Cart page styling */
.user-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-container-text {
    width: 50%;
}

.lottie-container {
    height: 200px;
}

/* Not-found page styling */
.not-found-container {
    height: 400px;
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* Home page */
    .product-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }

    img {
      width:100px;
    }
}

@media (min-width: 1024px) {

     /* Home page */
     .product-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 40px;
    }

    /* Cart page styling */
    .user-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .lottie-container {
       width: 50%;
       height: 400px;
    }
}